/* added prefixes */
.example {
  display: grid;
  transition: all 0.5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  /*min-width: 320px;*/
  /*height: 100%;*/
}

/* Mobile first */

body {
  font-family: "IBM Plex Sans";
  min-width: 320px;
  max-width: 480px;

  background-color: #fcfaf9;

  /*background-image: url(../assets/bg-main-mobile.png);
  background-position: 159px -104px;

  background-size: 416.4px 560px;*/
  background-repeat: none;

  /*overflow-x: hidden;*/
}

h1,
h2,
p {
  margin: 0;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.45px;
  /* or 100% */

  color: #191826;
}

h2 {
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 130% */

  /*color: #fcfaf9;*/
}

p {
  font-size: 16px;
  line-height: 26px;
}

header {
  padding-top: 39.99px;
  padding-bottom: 0;
  padding-left: 24px;
}

.container {
  padding-top: 64px;
  padding-bottom: 64px;
}

.title,
.description {
  margin-left: 24px;
  margin-right: 24px;
}

.title::after {
  content: "";
  display: block;
  height: 20px;
}

.pattern-1 {
  display: none;
}

/* Styles for mask and Orange box */

.mask {
  margin-top: 166px;
}

.mask,
.group-17 {
  border-radius: 12px;
}

.mask {
  display: block;
  background-color: #191826;
  height: 600px;
}

.pattern-2 {
  display: block;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.pattern-2-img {
  width: 100%;
}

.group-5 {
  position: relative;
  top: -518px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 208px;
}

/* Styles for orange box */
.group-17 {
  box-sizing: border-box;
  display: block;
  position: relative;

  margin-top: -220px;
  padding: 48px 37px 48px 36px;
  color: white;

  background-color: #fa7453;
  z-index: 100;
}

.premium-eq {
  margin-bottom: 12px;
}

.four-month {
  margin-top: 36px;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 65px;
  line-height: 52px;
}

.four-month span {
  position: relative;
  bottom: 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.2px;
}

button {
  border-style: none;
  border-radius: 12px;
  height: 61px;

  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.18px;
}

button * {
  display: inline-block;
  vertical-align: middle;
}

.ios-btn {
  width: 100%;
  background: #191826;
  margin-bottom: 16px;
  color: #fcfaf9;
}

.ios-btn:hover {
  background-color: #66e2dc;
  cursor: pointer;
}

.android-btn {
  width: 100%;
  background: #fcfaf9;
  color: #191826;
}

.android-btn:hover {
  background: #ffb964;
  cursor: pointer;
}

.equalizer-2 {
  display: block;
}

.contact {
  margin-top: 32px;
  margin-bottom: 64px;
}

.contact span {
  font-weight: bold;
}

footer {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 80px;
}

.icon-instagram {
  margin-left: 20px;
  margin-right: 20px;
}

/* Styles for tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    /*max-height: 1781px;*/
    /*max-width: 768px;*/
    /*background-image: url(../assets/bg-main-tablet.png);*/
  }

  header {
    padding-top: 61.99px;
  }

  .container {
    padding-top: 95.01px;
  }

  .title {
    font-size: 64px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1440px) {
  body {
    max-width: 1440px;
    max-height: 1832px;
  }
}
