/*
Description: Solution to "Equalizer Landing Page" FrontendMentor Challenge 
Author: Alvaro Salazar
Author URL:  https://github.com/alvarolsr/
Tags: 
*/

/* added prefixes */
.example {
  display: grid;
  transition: all 0.5s;
  user-select: none;
  background: linear-gradient(to bottom, white, black);
}

* {
  box-sizing: border-box;
}

/* General styles - Mobile first */

html {
  max-width: 1440px;
}

body {
  min-width: 375px;
  background-color: #fcfaf9;
  background-image: url(../assets/bg-main-mobile.png);
  background-position: right -65.4px top -104px;
  background-size: 281.4px 480px;
  background-repeat: no-repeat;

  padding: 40px 24px 80px 24px;
  /* Setting general font family and color */
  font-family: "IBM Plex Sans";
  color: #191826;
}

h1,
h2,
p {
  margin: 0;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.45px;
  /* or 100% */

  margin-bottom: 20px;
}

h2 {
  font-size: 32px;
  line-height: 40px;
  /* identical to box height, or 130% */

  margin-bottom: 12px;
}

p {
  font-size: 16px;
  line-height: 26px;
}

/* Setting paragraph font style for footer, so it keeps the same at all screen sizes */
footer p {
  font-size: 16px;
  line-height: 26px;
}

/* General styles for buttons */
button {
  height: 61px;
  border-style: none;
  border-radius: 12px;

  /* Button font styles */
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: -0.18px;
}

button * {
  vertical-align: middle;
}

/* Setting top and bottom paddings for main container div */
main {
  padding-top: 64px;
  padding-bottom: 64px;
}

/* Styles for mask and Orange box */
.mask {
  /* fixed height for div */
  height: 600px;
  margin-top: 166px;
  background-color: #191826;
  /*text-align: center;*/
}

/* Set mask and orange border-radius */
.mask,
.orange-box {
  border-radius: 12px;
}

.pattern-2 {
  display: block;
  position: relative;
  width: 280px;
  margin: auto;

  z-index: 25;
}

/* Setting size and position for mobile phone illustration */
.device {
  display: block;
  position: relative;
  width: 209px;
  margin: -518px auto auto auto;

  z-index: 50;
}

/* Styles for orange box */
.orange-box {
  /* Setting position : relative to apply z-index to stack div in front of previous div (mask) and pattern-2 */
  position: relative;
  background-color: #fa7453;

  /* Setting font color to white as per design */
  color: #fcfaf9;

  /* Setting internal paddings */
  padding: 48px 37px 48px 36px;

  /* Move div 220px up to cover part of previous div (mask) */
  margin-top: -220px;

  z-index: 75;
}

/* Styling h2 title inside div */
.premium-eq {
  margin-bottom: 12px;
}

/* Setting main font styles for "$4 /month" line */
.four-month {
  margin-top: 36px;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 65px;
  line-height: 52px;
}

/* Setting font styles for "/month" span to match original design */
.month {
  /* Set position : relative to apply bottom margin to move span 16px up */
  position: relative;
  bottom: 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.2px;
}

.ios-btn {
  width: 100%;
  background-color: #191826;
  margin-bottom: 16px;
  color: #fcfaf9;
}

.android-btn {
  width: 100%;
  background-color: #fcfaf9;
  color: #191826;
}

/* specific styles for footer */

.contact {
  margin-top: 32px;
  margin-bottom: 64px;
}

.email {
  font-weight: bold;
}

.social {
  display: flex;
  justify-content: space-between;
  width: 100px;
  height: 20px;
}

/* Set mask and orange box to take full body width on mobile screens*/
@media screen and (max-width: 480px) {
  .mask,
  .orange-box {
    margin-left: -24px;
    margin-right: -24px;
  }
}

/* Styles for tablets */
@media screen and (min-width: 481px) and (max-width: 768px) {
  body {
    background-image: url(../assets/bg-pattern-1.svg),
      url(../assets/bg-main-tablet.png);
    background-position: 107% -3%, -254px -112px;
    background-size: 266.67px 400px, 938px 808px;

    padding: 62px 39px 85px 39px;
  }

  h1 {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.73px;
    margin-bottom: 28px;
  }

  p {
    font-size: 18px;
    line-height: 28px;
  }

  /* Styles for main container */
  main {
    padding-top: 95px;
    padding-bottom: 181px;
  }

  /* Styles for title and description paragraph */
  .title {
    max-width: 520px;
  }

  .description {
    max-width: 514px;
  }

  /* Styles for mask and orange box */
  .mask {
    margin-top: 249px;
  }

  .pattern-2 {
    width: 280px;
    top: -31px;
    margin-left: 33%;
  }

  /* Setting position for mobile device illustration */
  .device {
    width: 270px;
    margin-top: -558px;
    margin-left: 9%;
  }

  .orange-box {
    width: 399px;
    float: right;

    margin-top: -450px;
    margin-right: 8%;

    padding-left: 48px;
    padding-right: 49px;
  }

  /* Specific styles for footer */
  .contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
  }

  .contact {
    margin: 0;
    max-width: 366px;
  }

  .social {
    min-width: 100px;
    margin-left: 33%;
  }
}

/* Styles for desktop */
@media screen and (min-width: 769px) {
  body {
    max-width: 1440px;

    background-image: url(../assets/bg-pattern-1.svg),
      url(../assets/bg-main-desktop.png);

    background-size: 312px 468px, 1613px 1853px;
    background-position: 100% -40px, -146px -112px;

    padding: 62px 11.45% 91px 11.45%;
  }

  h1 {
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -1px;
    margin-bottom: 40px;
  }

  h2 {
    font-size: 40px;
    line-height: 52px;
  }

  p {
    font-size: 20px;
    line-height: 34px;
  }

  main {
    padding-top: 127px;
    padding-bottom: 202px;
  }

  .title {
    max-width: 1015px;
  }

  .description {
    max-width: 825px;
  }

  .mask {
    margin-top: 321px;
  }

  .pattern-2 {
    width: 312px;
    top: -40px;
    margin-left: 30%;
  }

  .device {
    width: 312px;
    margin-top: -681px;
    margin-left: 9%;
  }

  .orange-box {
    width: 446px;
    float: right;

    padding: 58px 59px 48px 54px;
    margin-top: -510px;
    margin-right: 9%;
  }

  .four-month {
    margin-top: 39px;
    margin-bottom: 46px;
  }

  .ios-btn:hover {
    background-color: #66e2dc;
    cursor: pointer;
  }

  .android-btn:hover {
    background-color: #ffb964;
    cursor: pointer;
  }

  /* Styles for footer */
  footer {
    display: flex;
    justify-content: space-between;
    align-items: top;
  }

  .equalizer-2 {
    margin-bottom: auto;
  }

  .contact-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    margin-left: 12.4%;
  }

  .contact {
    margin: 0;
    max-width: 366px;
  }

  .social {
    min-width: 100px;
    margin-left: 25%;
  }

  .social svg:hover path {
    fill: #fa7453;
    cursor: pointer;
  }
}
